@{
    ViewData["Title"] = "Bad";
}

<html>
    <head>
        <style>
            .page {
  display: flex;
}

.container {
  margin: auto;
  text-align: center;
}
        </style>
    </head>
    <body>
        <div class="page">
            <div class=container>
                <image src="https://cdn3.emoji.gg/emojis/6222-paimon-surprised.png" width="512px" height="512px"/>
                <div>Произошла ошибка<div>
            </div>
        <div>
    </body>
</html>
